.wrap-menu{
    background: var(--bg-secondary);
    width: 115px;
    height: 100%;
    left: 0;
    flex-direction: column;
    position: fixed;
    top: 0;
    box-shadow: var(--color-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    z-index: 999;
}
