:root {
    --text-title: #ffff;
    --text-p: #0c0a09;
    --bg-primary: #d1c089;
    --bg-secondary: #151101;
    --bg-third: #eac388;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --color-shadow: rgba(51, 185, 219, 0.315) 0px 5px 15px;
  }
  
  /* Calc.module.css */
  
  .sectionCalc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-primary); /* Usando a cor de fundo primária */
  }
  
  .wrapCalc {
    text-align: center;
    margin-top: 20px;
  }
  
  .wrapInputsCalc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-secondary); /* Usando a cor de fundo secundária */
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
  }
  
  .inpStyle {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid var(--text-p); /* Usando a cor do texto p */
  }
  
  .wrapEach {
    margin-top: 20px;
    background-color: var(--bg-third); /* Usando a cor de fundo terciária */
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
  }
  